//----------------------------------------------------//
// VARIABLES                                          //
//----------------------------------------------------//
// Fonts
//----------------------------------------------------//
$app-font: 'Roboto', sans-serif;

// Color
//----------------------------------------------------//
$color_primary: #276BCF;
$color_black: #404040;
$color_gray: rgba($color_black, 0.38);